<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Quienes Somos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../css/full-slider.css" rel="stylesheet" type="text/css">
        <link href="../css/hover.css" rel="stylesheet" type="text/css"> 
        <link href="../css/estilo.css" rel="stylesheet" type="text/css">
        <link href="../css/font-awesome.css" rel="stylesheet" type="text/css"> 
        <script src="../js/jquery.min.js"></script> 
        
    </head>
    <body>
        
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" 
             style=" z-index: 1; opacity: 0.8; background: #cc66ff; border: 0px; ">
      
    <div class="container-fluid" style=" height: 80px; margin-top: 15px; ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html" style="color: white; font-family: cursive; font-size: 2.2EM; ">
          <strong style=" letter-spacing: 2px; text-shadow: 2px 2px black;">
              FERRETI
          </strong>
        </a>
        <a class="navbar-brand" href="index.html" style="color: white; font-family: cursive; font-size: 1EM; ">
          <strong style="letter-spacing: 2px; margin-top: 30px; margin-left: -163px; position: absolute; text-shadow: 1px 1px black;">
              Bs.As. - Milán
          </strong>
        </a>
        
         <a class="navbar-brand2" href="index.html" style="color: white; font-family: cursive; font-size: 1.3EM; ">
          <strong style=" letter-spacing: 2px; margin-left: 15px; text-shadow: 2px 2px black;">
              FERRETI CALZADOS
          </strong>
        </a>
        <a class="navbar-brand2" href="index.html" style="color: white; font-family: initial; font-size: 1EM; ">
          <strong style="letter-spacing: 2px; margin-top: 30px; left: 15px; position: absolute; text-shadow: 1px 1px black;">
              Bs.As. - Milán
          </strong>
        </a>
        
    </div>
    
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style=" border: 0px; margin-top: 0px; ">
         <ul class="nav navbar-nav navbar-right" style="background:#cc66ff;">
             
             <li class="" style=" margin-left: 0px;">
            <a href="index.html" style="color: white; font-family: AguaFina; ">
                <strong class="hvr-buzz-out" style="font-size: 0.8em;">
                    HOME
                </strong>
            </a>
        </li>
        
        <li style=" margin-left: 0px;">
            <a href="quienesSomos.html" style="color: white; font-family: AguaFina">
                <strong class="hvr-buzz-out" style="font-size: 0.8em;">
                    QUIENES SOMOS
                </strong>
            </a>
        </li>
        
        <li style=" margin-left: 0px;">
            <a href="descuentosYPromociones.html" style="color: white; font-family: AguaFina">
                <strong class="hvr-buzz-out" style="font-size: 0.8em;" >
                    DESCUENTOS Y PROMOCIONES
                </strong>
            </a>
        </li>
        
        <li class="dropdown">
            <!-- en <a> pongo el background en gold !-->
          <a href="#" style=" color: white;font-family: AguaFina" class="dropdown-toggle hvr-buzz-out" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <strong style="font-size: 0.8em; ">
                  PRODUCTOS
              </strong> 
              <span class="caret "></span>
          </a>
          <ul class="dropdown-menu" >
            <li><a href="zapatos.html" style="color: black;">Zapatos</a></li>
            <li><a href="#" style="color: black;">Sandalias</a></li>
            <li><a href="#" style="color: black;">Chatas</a></li>            
            <li><a href="#" style="color: black;">Botas</a></li>           
            <li><a href="#" style="color: black;">Promociones</a></li>
          </ul>
        </li>
        
        <li style=" margin-left: 0px;">
            <a href="contacto.html" style="color: white; font-family: AguaFina">
                <strong class="hvr-buzz-out" style="font-size: 0.8em;">
                    CONSULTAS
                </strong>
            </a>
        </li>
        
        
      </ul>
        </div>
        </div>
        
    </nav>
        
        
        <div style="text-align: center">
            <p style="margin-top: 95px; margin-bottom: 1px; text-align: center;text-shadow: 1px 1px black ; color: white; font-weight: bold; font-size: 4em; background-image: url(../img/local2.jpg); padding-top: 90px; padding-bottom: 230px;">
                
            </p>
        </div>
        
      
        
        <div style="padding: 40px 0px; margin-top: 0px; background: #333 " class="row  center-block">
            
        <div class="col-sm-5 col-sm-offset-1 " style="margin-top: 20px;">
            
            <p style="font-weight: bold; font-size: 1.5em; color:#FFFACD;">
                Conozca un poco de nuestra historia.
            </p>
            <p style="font-weight: 400; font-size: 1.2em; color: #FAFAD2;">
            Nuestra tradición artesana comienza en Bologna, continua en Milán (Italia) y 
            desde hace 37 años en Argentina.
            </p>
            <p style="font-weight: 400; font-size: 1.2em; color:#FFFFE0;">
            Nos especializamos en calzado para Damas con Números especiales en legitimo cuero Argentino,
            confeccionado a mano en forma exclusiva.
            </p>
            <p style="font-weight: 400; font-size: 1.2em; color:#FFFFE0;">
            Nos especializamos en calzado para Damas con Números especiales en legitimo cuero Argentino.
            </p> 
            
            
        </div>
            
        <div class="col-sm-5 col-sm-offset-0 " style="margin-top: 20px;">
            
            <img src="../img/quienes1.png" alt="q1" class="img-responsive  container">
              
            
        </div>
            
        </div>
        
        <div style="background: #333; padding: 50px; border-bottom: 5px solid wheat; " class="row  center-block">
            
        <div class="col-sm-5 col-sm-offset-1 " >
            
           <img src="../img/quienes3.png" alt="q3" class="img-responsive container">
            
            
        </div>
            
        <div class="col-sm-5 col-sm-offset-0 " >
            
            <p style="font-weight: bold; font-family: cursive; font-size: 2.4em; ">
               <span style="color: lightpink;"> ABOUT US</span>
            </p>
            
            <p style="font-weight: bold; font-family: cursive; font-size: 1.6em; color: #FFFFE0;">
                Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in,
                eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.               
            </p>
              
            
        </div> 
            
        </div>
            
           
        <!-- EMBEBER UN MAPA!! !-->
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #223; padding-top: 20px; padding-bottom: 20px; ">
            
            <h2 style="text-align: center; color: wheat; padding-bottom: 40px; ">DONDE PODÉS ENCONTRARNOS?</h2>
            <iframe class="col-sm-6 col-xs-12 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.303935744192!2d-58.39201768477055!3d-34.59647518046136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabec40dd2a1%3A0xebd9a4b401737057!2sCalzados+Ferreti!5e0!3m2!1ses!2sar!4v1458582010229" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            <p class="col-sm-6 col-xs-12" style="color: wheat; font-weight: bold; font-size: 1.7em; text-align: center; " >
                Acá Tenés diferentes formas de llegar a nuestro local:
            </p>
            <p class="col-sm-6 col-xs-12" style="color: wheat; font-weight: bold; font-size: 1.2em; text-align: left; margin-top: 30px;">
                <span style=" color: #FFD700; font-size: 1.2em;">
                    <u>Colectivos:</u>
                </span> 
                17, 61, 62, 67, 92, 93, 10, 37, 38, 41, 59, 60, 95, 101, 102, 108, 118, 124, 130.
            </p>
            <p class="col-sm-6 col-xs-12" style="color: wheat; font-weight: bold; font-size: 1.2em; text-align: left; margin-top: 30px;">
                <span style=" color: #FFD700; font-size: 1.2em;">
                    <u>Caminando:</u>
                </span> 
                Desde la Plaza San Martín y la Calle Florida caminar 10 cuadras por la Avenida del Libertador.
            </p>
            <p class="col-sm-6 col-xs-12" style="color: wheat; font-weight: bold; font-size: 1.2em; text-align: left; margin-top: 30px;">
                <span style=" color: #FFD700; font-size: 1.2em;">
                    <u>Subtes:</u>
                </span> 
                A,B,C,D.
            </p>
            
            <p class="col-sm-6 col-xs-12" style="color: wheat; font-weight: bold; font-size: 1.2em; text-align: left; margin-top: 30px;">
                <span style=" color: lightblue; font-size: 1.2em;">
                    <u>Te esperamos en:</u>
                </span> 
                Montevideo 1051 - Capital Federal - Argentina.
            </p>
           
            
        </div>
        
                
        <script src="../js/bootstrap.min.js" type="text/javascript" ></script>
           
       <!-- Script to Activate the Carousel -->
       
    </body>
</html>
